*{
    margin: 0;
}

/* nav div a:hover{
    border-bottom: 0.25rem solid lightblue;
    transition: linear 0.25s;
} */

header{
    margin-top: 1rem;
}

header h1{
    background-color: skyblue;
    color:white;
    width: 60%;
    text-align: center;
}

header h2{
    background-color: teal;
    
    height: auto;
    margin-left: 40%;
    padding: 0.5rem;
    
    text-align: left;
    color: white;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main aside{
    width: 60%;
    height: 30em;
    text-align: center;
}

main aside header a{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

main aside header a:hover {
    color: lightskyblue;
}

#index-photos {
    width: 50%;
    margin: auto;
}

#index-photos img{
    width: 40%;
}

#index-photos img:hover{
    transform: scale(1.05);
    transition: 0.2ms;
}

#index-college-intro{
    width: 40%;
    margin: auto;

    display: flex;
}

#index-college-intro p {
    margin: auto;
    width: 30%;
}

#index-college-intro img {
    width: 40%;
    border-radius: 2rem;
}